@inherits LayoutComponentBase
<link rel="stylesheet" href="~/bulma.css" />
<link rel="stylesheet" href="~/custom.css" />

<header>
    <Header/>
</header>
<div class="columns">
    <div class="column is-one-fifth">
    </div>
    <div class="column is-three-fifths">
        <main>
            <article>
                <section>
                    @Body
                </section>
            </article>
        </main>
    </div>
    <div class="column is-one-fifth">
    </div>
</div>

<Footer/>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
