using RecordShopFE.Components;
@page "/Add-Album"
@rendermode InteractiveServer


@code {
    // protected void enterModify()
    // {
    //     StateHasChanged();
    // }


}

<PageTitle>créez un album</PageTitle>


<link rel="stylesheet" href="bulma.css" />

<TitleFont Text="Créez un album:" />
<AlbumCreator/>

<section>    
    <form>
        <button type="submit" class="button is-small outlined is-focus" style="margin-top: 0.6rem">rafraîchissez</button>
    </form>
</section>