@page "/"
<link rel="stylesheet" href="bulma.css" />


<PageTitle>Tom's Record Shop'</PageTitle>

<h1 class="has-background-primary-85 is-family-sans-serif">Content goes below</h1>

<div class="columns">
    <div class="column is-one-fifth">

    </div>
    <div class="column is-three-fifths">
        <main>
            <article>
                <section>
                   <ModTest/>
                </section>
            </article>
        </main>
    </div>
    <div class="column is-one-fifth">
    </div>
</div>

