@page "/Add-Album"
@rendermode InteractiveServer


@code {

}



<link rel="stylesheet" href="bulma.css" />
<PageTitle>créez un album</PageTitle>

<TitleFont Text="Créez un album:" />
<AlbumCreator/>

<section>    
    <form>
        <button type="submit" class="button is-small outlined is-focus" style="margin-top: 0.6rem">rafraîchissez</button>
    </form>
</section>