@page "/DeleteAlbum"
@rendermode InteractiveServer

@code {
    private int albumId;
}


<link rel="stylesheet" href="bulma.css" />

<PageTitle>Supprimer un album</PageTitle>
<TitleFont Text="Supprimer un album:" />



<Section style="margin-top:1rem">
    <label for="albumIdInput" style="margin-top: 0.3rem"><b>Search for an album by Id: </b></label><br />
    <input class="input is-grouped is-small" name="albumIdInput" id="albumIdInput" type="int" @bind-value="albumId" placeholder="album Id" /><br />

    <DeleteCheck Id="albumId"/>
</Section>

<form>
    <button type="submit" class="button is-grouped is-small" style="margin-top:1rem" name="refreshDeleteAlbum" id="refreshDeleteAlbum">rafraîchissez</button>
</form>