@page "/"
<link rel="stylesheet" href="bulma.css" />


<PageTitle>Tom's Record Shop'</PageTitle>

<h1 class="has-background-primary-85 is-family-sans-serif">Content goes below</h1>

<section>
    <p> heres some content in the main section, by way of holding plavce</p>
</section>
