@page "/"
<link rel="stylesheet" href="bulma.css" />
<link rel="stylesheet" href="~/custom.css" />


<PageTitle>Tom's Record Shop'</PageTitle>


<div class="columns">
    <div class="column is-one-fifth">

    </div>
    <div class="column is-three-fifths">
        <main>
            <article>
                <section>
                   <HomeInfo/>
                </section>
            </article>
        </main>
    </div>
    <div class="column is-one-fifth">
    </div>
</div>

