


@code {
    [Parameter]
    public List<Album> albumList { get; set; } = new List<Album>() {
            new Album { Id = 1, Artist = "L'Ed Sheeran", Genre = "La Pop", Information = "un album du chanteur Ed Sheeran nommé d'après un symbiole mathématique", Name = "L'addition", Released = 2011},
            new Album{ Id = 2, Artist = "L'Ed Sheeran", Genre = "La Pop", Information = "un album du chanteur Ed Sheeran nommé d'après un symbiole mathématique", Name = "La multiplication", Released = 2014},
            };
}

@foreach (Album album in albumList)
{
    <section class="box id-block mt-4 md-4 p-4">
        @*consider adding display container class*@
        <AlbumSummary album="album"/>
    </section>
}
