@rendermode InteractiveServer
@inject NavigationManager Navigation


@code {
    [Parameter]
    public List<Album> albumList { get; set; }

    public void NavigateToAlbum(int albumId)
    {
        string uri = $"/Albums/{albumId}";
        Navigation.NavigateTo(uri);
    }
}

<link rel="stylesheet" href="custom.css" />

@foreach (Album album in albumList)
{

    <section class="box id-block mt - 4 md - 4 p - 4" id="albumSummary">
    @*consider adding display container class*@
        <AlbumSummary album="album" Navigate="NavigateToAlbum" />
    </section>
}
