<link rel="stylesheet" href="~/bulma.css" />
<h3 id="headerTitle">Tom's Record Shop</h3>
<h4 id="headerTagLie">Welcome to the Record Shop</h4>
<nav>
    <ul>
        <li><NavLink href="/">Home</NavLink></li>
    </ul>
</nav>
<img src="https://picsum.photos/150/100" alt="Tom's Record Shop logo'" />

@code {

}
