
<link rel="stylesheet" href="~/bulma.css" />
<div class="m-auto pl-6 pr-6 pt-2">
    <div id="topMedia" class=" pb-6">
        <h3 id="headerTitle" style="display: inline-flex" onclick="NavigatHome">Tom's Record Shop</h3><br/>
        <h4 id="headerTagLie" style="display: inline-flex">Welcome to the Record Shop</h4>
        <img src="https://picsum.photos/150/100" alt="Tom's Record Shop logo" style="float: right" />
    </div>
    <nav>
        <ul>
            <a><NavLink href="/">Home</NavLink></a>
            <a><NavLink href="/Albums">Tous les albums</NavLink></a>
            <a><NavLink href="/EditAlbum">Modifier un album</NavLink></a>

        </ul>
    </nav>

</div>

@code {
}
