<h3 class="has-text-weight-semibold" style="margin-top:1rem;">Information: Fr</h3>
<br />

<p>Bienvenue sur le site du disquaire français. Ce site utilise des albums populaires pour vous aider à apprendre le vocabulaire français. Des opérations simples sur la base de données sont fournies dans un mélange de français et d'anglais, vous permettant d'interagir avec les albums. Merci d'ajouter des albums en français (même s'ils sont mauvais ; toute surtraduction délibérée est la bienvenue !)</p>
<br />
<br />







<h3 class="has-text-weight-semibold">Information: En</h3>
<br />

<p>
    Welcome to the French record shop website. This website uses popular albums to help you learning French vocabularly. Simple database operations are provided in a mix of French and English, allowing you to interact with the albums. Please add albums in French (no matter how bad; deliberate over-translation welcome!)
<p>Bienvenue sur le site du disquaire français. Ce site utilise des albums populaires pour vous aider à apprendre le vocabulaire français. Des opérations simples sur la base de données sont fournies dans un mélange de français et d'anglais, vous permettant d'interagir avec les albums. Merci d'ajouter des albums en français (même s'ils sont mauvais ; toute surtraduction délibérée est la bienvenue !)</p><br/>
</p>
<br />
@code {

}
