
<h3>ModTest: delete later</h3>

@code {
    public Album testAlbum = new Album { Id = 1, Artist = "L'Ed Sheeran", Genre = "La Pop", Information = "un album du chanteur Ed Sheeran nommé d'après un symbiole mathématique", Name = "L'addition", Released = 2011 };
}
<AlbumDetails album="testAlbum"></AlbumDetails>